.hide {
    display: none;
}
.login-container {
    width:auto !important;
}
#login-box {
    font-size: 15px;
}
.authorization-header {
    background-color: #2283C5 ;
    color: white;
}

div.journal_div_table2 {
    width:50%;
    overflow-x:scroll;
    float:left;
}

table.journal_table tr {
    height:40px;
}

table.journal_table td {
    padding: 4px;
    vertical-align: middle;
}


table.journal_table_1{
    width: 15%;
    float:left;
}

.journal_div_table2 table tr:not(.min-max) input {
    width: 22%;
}

.journal_div_table2 th {
    min-width: 55px;
    text-align: center !important;
}

.journal_div_table2 td.error, .journal_div_table3 td.error, .journal_div_table2 th.error  {
    border:1px solid red;
}

.journal_div_table2 td.success, .journal_div_table3 td.success, .journal_div_table2 th.success  {
    border:1px solid green;
}

div.journal_div_table3 {
    width:25%;
}

.journal_div_table3 th {
    min-width: 45px;
    text-align: center !important;
}

.journal_div_table3 td {
    text-align: center !important;
}

.journal_div_table3 table input {
    width: 45%;
}
#spinner {
    display: none;
}
tr.min-max {
    height: 28px !important;
}

tr.min-max input {
    width: 40%;
    font-size: 10px;
 }

tr.min-max th {
    padding:1px 0
}

.journal_table_1 thead tr {
    height: 68px;
}